[Desktop Entry]
Name=PyTraffic
GenericName=Sliding Puzzle Game
Comment=A Python version of the board game Rush Hour by Binary Arts Corporation
Exec=pytraffic
Icon=pytraffic
Terminal=false
Type=Application
Categories=Game;

